ADMIN_ACCESS_ENABLED=false
ADMIN_EMAIL=Jacobjshmol@gmail.com
NEXT_PUBLIC_SITE_URL=https://yakov.shmol.cc
NEXT_PUBLIC_ASSET_BASE_URL=https://assets.yakov.shmol.cc
NEXT_PUBLIC_IMAGE_TRANSFORM_BASE_URL=https://yakov.shmol.cc
